@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.prata-font
{
  font-family: 'Prata' !important;
}
.lato-font
{
  font-family:'Lato';
}
button
{
    border-radius:0 !important;
}
.btn-main
{
  background:#375944;
  border-radius:0;
}
.product-box:hover .product-meta
{
    transform: translateY(-2rem);
}
.product-box:hover .action-btn
{
    bottom: -.5rem;
    opacity: 1;
}
.product-meta
{
    transition: -webkit-transform 0.3s cubic-bezier(0.17, 0.67, 0.35, 0.95);
    transition: transform 0.3s cubic-bezier(0.17, 0.67, 0.35, 0.95);
    transition: transform 0.3s cubic-bezier(0.17, 0.67, 0.35, 0.95), -webkit-transform 0.3s cubic-bezier(0.17, 0.67, 0.35, 0.95);
}